[react]
name = react
icon = ﰆ

[angular]
name = angular
icon = ﮰ

[vue]
name = vue
icon = ﵂

[graphql]
name = graphql
icon = 

[electron]
name = graphql
icon = 󱀤

[pg]
name = pg
icon = 

[leaflet]
name = leaflet
icon = 

[svelte]
name = svelte
icon = 

[amqplib]
name = amqplib
icon = 

[sass]
name = sass
icon = 

[less]
name = less
icon = 

[stylus]
name = stylus
icon = 

[ember-cli]
name = ember-cli
icon = 